<footer class="bg-footerBg display-flex flex-column">
    <div class="w-full border-b border-b-gray-600 flex flex-row">
        <div class="w-3/16 h-full flex justify-center py-32">
            <img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/footer_logo.png" height="170px">
        </div>
        <div class="w-5/16 px-8 flex flex-col my-auto justify-items-start">
            <h1 class="color-ineedTours text-3xl py-6">I Need Tours</h1>
            <p class="text-neutral-500">{{'ourOffer' | translate}}</p>
            <span class="py-4">
                <ul class="flex flex-row w-full">
                    <li class="px-2"><a href="https://facebook.com/ineedtours/" target="_blank" title="Facebook"><img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/social_facebook.png" alt="Facebook" width="48" height="48" border="0"></a></li>
                    <li class="px-2"><a href="https://twitter.com/ineedtours" target="_blank" title="Twitter"><img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/social_twitter.png" alt="Twitter" width="48" height="48" border="0"></a></li>
                    <li class="px-2"><a href="https://www.linkedin.com/company/i-need-tours" target="_blank" title="LinkedIn"><img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/social_linkedin.png" alt="LinkedIn" width="48" height="48" border="0"></a></li>
                    <li class="px-2"><a href="https://www.instagram.com/ineedtours/" target="_blank" title="Instagram"><img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/social_instagram.png" alt="Instagram" width="48" height="48" border="0"></a></li>
                </ul>
            </span>
        </div>
        <div class="w-4/16 flex flex-col my-auto justify-items-start">
            <h1 class="color-ineedTours text-3xl">{{'company' | translate}}</h1>
            <span class="py-4 text-neutral-500">
                <ul>
                    <li><a href="/nuestra-empresa">{{'ourBusiness' | translate}}</a></li>
                    <li><a href="/quien-lo-hace-posible">{{'whoMakesItPossible' | translate}}</a></li>
                    <li><a href="/contacto">{{'contactUs' | translate}}</a></li>
                    <li><a href="https://bloges.ineedtours.com/" target="_blank">{{'blog' | translate}}</a></li>
                    <li><a href="/amaras-nuestras-cookiesl">{{'loveOurCookies' | translate}}</a></li>
                    <li><a href="/asombrosos-terminos-y-condiciones">{{'termsAndConditions' | translate}}</a></li>
                </ul>
            </span>
        </div>
        <div class="w-4/16 flex flex-col my-auto justify-items-start">
            <h1 class="color-ineedTours text-3xl">{{'joinUs' | translate}}</h1>
            <span class="py-4 text-neutral-500">
                <ul>
                    <li><a href="/empleo">{{'employment' | translate}}</a></li>
                    <li><a href="/agencias">{{'agencies'| translate}}</a></li>
                    <li><a href="/afiliados">{{'affiliates' | translate}}</a></li>
                    <li><a href="/proveedores">{{'providers' | translate}}</a></li>
                </ul>
            </span>
            <div class="flex flex-row items-center space-x-2 text-neutral-500 pb-2">
                <img src="https://www.ineedtours.com/App_Themes/wex/img/iconos/ico_footer_mail.png" alt="email" class="h-[20px]" />
                <a href="mailto:support@ineedtours.com">support-ineedtours.com</a>
            </div>
            <div class="flex flex-row items-center space-x-2 text-neutral-500">
                <img src="https://www.ineedtours.com/App_Themes/wex/img/iconos/ico_footer_tel.png" alt="email" class="h-[25px]" />
                <a href="tel:0039 0697630256">0039 0697630256</a>
            </div>
        </div>
    </div>
    <div class="w-full text-neutral-500 py-8 px-8 text-xs flex flex-row justify-between">
        <p>{{'footerBottomText' | translate }}</p>
        <img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/Footer/pago_seguro.png">
    </div>
</footer>

