<ng-container>
      <app-header-mobile *ngIf="isMobile"
                         [menuWebItems]="menuWebItems"
                         [currencies]="currencies"
                         [languages]="languages"
                         [selectedCurrency]="selectedCurrency"
                         [selectedLanguage]="selectedLanguage"
                         (currencyChange)="selectCurrency($event)"
                         (languageChange)="selectLanguage($event)"></app-header-mobile>

      <app-header-desktop *ngIf="!isMobile"
                          [menuWebItems]="menuWebItems"
                          [currencies]="currencies"
                          [languages]="languages"
                          [selectedCurrency]="selectedCurrency"
                          [selectedLanguage]="selectedLanguage"
                          [isCurrencyMenuOpen]="isCurrencyMenuOpen"
                          [isLanguageMenuOpen]="isLanguageMenuOpen"
                          [toggleCurrencyMenu]="toggleCurrencyMenu.bind(this)"
                          [toggleLanguageMenu]="toggleLanguageMenu.bind(this)"
                          [selectCurrency]="selectCurrency.bind(this)"
                          [selectLanguage]="selectLanguage.bind(this)"></app-header-desktop>
</ng-container>
