<header class="bg-ineedTours text-white shadow-md w-full">
  <div class="w-full px-8 py-4 flex items-center justify-between">
    <nav class="space-x-4">
      <a *ngFor="let item of menuWebItems" href="/{{item.link}}" class="text-white header-link-list-item">
        {{item.name | translate}}
      </a>
    </nav>
    <div class="flex items-center">
      <img src="https://www.ineedtours.com/CMS/Servidor/Ineedtours/galeria/756____logo_43.png" alt="logo">
    </div>
    <ul class="relative flex flex-row">
      <li class="relative header-link-list-item">
        <button (click)="toggleCurrencyMenu(); $event.stopPropagation();" data-popover-target="menu" class="rounded-md py-2 px-4 text-center text-white transition-all ml-2 flex items-center cursor-pointer" type="button">
          {{selectedCurrency.symbol}} {{selectedCurrency.name}} <span class="material-icons">{{isCurrencyMenuOpen ? 'expand_less' : 'expand_more'}}</span>
        </button>
        <ul *ngIf="isCurrencyMenuOpen" [class.dropdown-animate]="isCurrencyMenuOpen" role="menu" data-popover="menu" data-popover-placement="bottom" class="absolute z-10 min-w-[180px] overflow-auto rounded-lg border border-slate-200 bg-white p-1.5 shadow-lg focus:outline-none dropdown-animate">
          <li *ngFor="let currency of currencies" (click)="selectCurrency(currency)" role="menuitem" class="cursor-pointer text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
            {{currency.symbol}} {{currency.name | translate}}
          </li>
        </ul>
      </li>
      <li class="header-link-list-item">
        <button class="rounded-md py-2 px-4 text-center text-white transition-all ml-2 flex items-center gap-1">
          <span class="material-icons">person</span>
          Login
        </button>
      </li>
      <li class="header-link-list-item">
        <button (click)="toggleLanguageMenu(); $event.stopPropagation();" data-popover-target="language-menu" class="rounded-md py-2 px-4 text-center text-white transition-all ml-2 flex items-center cursor-pointer" type="button">
          {{selectedLanguage.name | translate}}<span class="material-icons">{{isLanguageMenuOpen ? 'expand_less' : 'expand_more'}}</span>
        </button>
        <ul *ngIf="isLanguageMenuOpen" role="menu" data-popover="language-menu" data-popover-placement="bottom" class="absolute right-0 z-10 min-w-[180px] max-w-xs overflow-auto rounded-lg border border-slate-200 bg-white p-1.5 shadow-lg focus:outline-none dropdown-animate">
          <li *ngFor="let language of languages" (click)="selectLanguage(language)" role="menuitem" class="cursor-pointer text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
            {{language.name | translate}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
